
.favorite2 {
    text-align: center;
    color: #333;
}

.right {
    display: flex;
    align-items: center;
}
.nav-links {
    margin-right: 20px;
}
.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin-left: 10px;
}
.button:hover {
    background-color: #45a049;
}
.sort-dropdown {
    margin: 10px 0;
}
.favorite-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.favorite-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid #ccc; /* 枠の色 */
    border-radius: 5px; /* 角の丸み */
    padding: 10px; /* 内側の余白 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
}
.game-icon {
    width: 50px; /* アイコンのサイズ */
    height: 50px; /* アイコンのサイズ */
    margin-right: 15px;
}
.game-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* 縦に配置 */
}
.game-name {
    font-weight: bold;
}
.delete-button {
    background-color: #e74c3c; /* 削除ボタンの色 */
}
.delete-button:hover {
    background-color: #c0392b; /* 削除ボタンのホバー色 */
}.right{
    float: right;
}
.clear{
    clear: both;
}
